
    :root{
    --primary-color:#ee4d2d;
    --white-color : #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color:#dbdbdb;

    --header-height : 120px;
    --navbar-height : 30px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height))
}
*{
    box-sizing: inherit;
}

body::-webkit-scrollbar {
    width: 13px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(219, 219, 219);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);    /* color of the scroll thumb */
    border-radius: 40px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(219, 219, 219);  /* creates padding around scroll thumb */
}

html{
    /* Hack */
     font-size: 62.5%;  /* Nếu để giá trị này trong thẻ html thì 1rem sẽ bằng 10px */
     line-height: 1.6rem;
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
}

.dong{
    font-size: .9rem;
    line-height: 1rem;
}

/* Reponsive */

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

/* Test */

.grid__column-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        transform: scale(var(--gowth-from));
    }
    to {
        transform: scale(var(--gowth-to))
    }
    
}
/* MODAL */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    animation: fadeIn linear 0.3s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.4);}

.modal__body{
    --gowth-from:0.7;
    --gowth-to : 1;
    z-index: 3;
    margin: auto;
    position: relative;
    animation: Growth linear 0.2s;
}

/* Button style */
.btn{
    font-size: 1.4rem;
    min-width: 142px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.btn.btn-white {
    background-color: var(--white-color);
}

.btn.btn-normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.btn.btn--disable{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon  {
    font-size: 1.2rem;
    color: rgb(131, 131, 131 );
    position: relative;
    top: 1px;
}

.select-input__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top : 27px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    padding: 8px 12px;
    z-index: 1;
    animation: fadeIn ease-in 0.2s;
}

.select-input__list::after {
    content: "";
    position: absolute;
    top: -10px;
    right :0;
    width: 100%;
    height: 10px;
}

.select-input__item {
}

.select-input__link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 0;
    font-size: 1.4rem;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}


/* Pagination */

.pagination {
    list-style: none;
    display : flex;
    justify-content: center;
    align-items: center;
}

.pagination-item { 
    margin: 0 14px; 
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    --height : 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
    text-align: center;
    font-weight: 300;
}

.pagination-item__icon {
    font-size: 1.7rem;
    font-weight: 600;
}


