.header{
    position: relative;
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    height: var(--header-height);
    z-index: 1;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 12px 0 0 0;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-item{
    position: relative;
    margin: 0 8px;
}

.header__navbar-user-img {
    margin-bottom: -5px;
    width: 22px;
    height: 22px;
}

.header__navbar-user-name {
    margin-left: 6px;
    font-size: 1.5rem;
}

.header__navbar-user-menu {
    display: none;
    position: absolute;
    width: 170px;
    background-color: var(--white-color);
    border-radius: 2px;
    padding-left: 0;
    padding-top:4px ;
    right: 0;
    top :calc(100% + 12px);
    z-index: 1;
    border-color: transparent transparent var(--white-color) transparent;
    box-shadow:0 1px 3.125rem 0 rgba(0,0,0,0.2);
    transform-origin: calc(100% - 50px) top;
    animation: headerMotifyGrowth ease-in 0.2s;;
}

.header__navbar-user-menu::after  {
    content: "";
    position: absolute;
    right: 30px;
    top :-20px;
    border-width:10px 14px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    width: 115px;
    height: 12px;
    right: 0;
    top :-12px;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item {
    list-style: none;
    padding: 8px 0;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.45rem;
    padding: 4px 16px;
    display: inline-block;
}

.header__navbar-user-item:hover {
    background-color: #fafafa;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0,0,0,0.05);
}

.header__navbar-user-item--separate a {
    color: var(--primary-color);
}

.header__navbar-item--QR:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
    
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link{
    position: relative;
    z-index: 3;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-item:hover,
.header_navbar-icon:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold{
    font-weight: 550;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.5px;
    height: 13px;
    background-color: #FB9086;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header_navbar-icon{
    padding: 0 4px;
    font-size: 1.6rem;
}

.header__navbar-title--no-pointer{
    color: rgba(255, 255, 255, 1);
    cursor: default;
}   

.header__qr{
    z-index: 1;
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 175%;
    border-radius: 2px;
    padding: 8px;
    display: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before{
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 140%;
    height: 17%;
}

.header__qr::after {
    content: "";
    position: absolute;
    top: -22px;
    right: -14px;
    height: 36%;
    width: 17%;
}

.header__qr-img{
    width: 100%;

}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.header__qr-link:nth-child(1){
    margin-left: 12px;
}

.header__qr-link:nth-child(2){
    margin-right: 12px;
}

.header__qr-apps-img{
    height: 16px;
}

/* Header notification */
.header__notify{
    position: absolute;
    width: 404px;
    top: 175%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 50px) top ;
    animation: headerMotifyGrowth ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before{
    position: absolute;
    top: -32px;
    right: 20px;
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after{
    content: "";
    position: absolute;
    top: -26px;
    right: -6px;
    width: 110px;
    height: 30px;
    /* background-color: #756f6e; */
}

@keyframes headerMotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}




.header__notify-header{
    background-color: var(--white-color);
    height: 40px;
}

.header__notify-header-text{
    color: #999;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 40px;
    padding-left: 12px;
}

.header__notify-list{
    padding-left: 0;
    list-style: none;
}

.header__notify-item{
    
}

.header__notify-item--viewed {
    background-color: rgb(238, 77, 45,0.1) ;
}

.header__notify-footer:hover,
.header__notify-item:hover{
    background-color: #e7e7e780;
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;

}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    padding-left: 10px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.85;
    padding-bottom: 6px;
    font-weight: 550;
}

.header__notify-desc{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.4rem;
}

.header__notify-footer{
    text-align: center;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;
    font-size: 1.4rem;
    display: block;
    background-color: #e7e7e71f;
}

/* Form Dang Ki */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 10px 32px 0px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 12px;
    margin-top: 6px;
}

.auth-form__heading{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-top: 16px;
    padding:12px;
    font-size: 1.4rem;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    margin: 0 8px;
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 400;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control-back{
    background-color: var(--white-color);
    margin-right: 8px;
}

.auth-form__social{
    margin-top: 22px;
    background-color: #d3d3d3d3;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social-icon{
    font-size: 1.8rem;
}

.auth-form__social--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__social--sms{
    color: var(--white-color);
    background-color: #0fbf15;
}

.auth-form__social--facebook
.auth-form__social-icon{
    color: var(--white-color);
}

.auth-form__social--google{
    color: #666;
    background-color: var(--white-color);
}

.gg-icon{
    width: 18px;
}

.auth-form__social-title{
    margin: 0 36px;
}

.auth-form__social-title--size-s{
    margin: 0 28px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-sparate{
    display: block;
    border: 0.5px solid #eaeaea;
    margin: 0 16px;
    height: 16px ;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

.btn--fix{
    min-width: 130px;
    justify-content: start;
}

/* Header with search */

.header-with-search{
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent
}

.header__logo-img {
    width: 150px;
    color: var;
}

.header__search {
    display: flex;
    align-items: center;
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
}


.header__search-input-wrap{
    flex: 1;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color:var(--text-color);
    border-radius: 2px;
    padding: 0 16px;
}

.header__search-select{
    position: relative;
    border-left: 1px solid #d2d2d2;
    padding-left:16px ;
    cursor: pointer;
    z-index: 0;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon  {
    font-size: 1rem;
    color: #828282;
    margin: 0 16px 0 6px;
    position: relative;
    top : 1px
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    margin-right: 3px;
    border-radius: 2px;
}

.header__search-btn:hover{
    background-color : #ee4d2dc9;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select:hover .select-input {
    position:unset;
}

.header__search-option {
    position: absolute;
    list-style: none;
    width: 125px;
    top:134%;
    right: 0;
    padding-left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    position: absolute;
    /* background-color: #666; */
    top: -18px;
    right: 0;
}

.header__search-option-item {
    padding: 10px 8px;
}


.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0px 5px 0px 14px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--ative i{
    display: inline-block;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

 /* Search history */
.header__search-input-wrap{
    position: relative;
}

.header__search-history {
    z-index: 1;
    display: none;
    position: absolute;
     top:calc(100% + 4px);
     left: 0;
     width: calc(100% - 18px);
     background-color: var(--white-color);
     border-radius: 2px;
     box-shadow: 0 1px 5px rgb(186, 186, 186);
}

.header__search-history-heading {
     opacity: 0.4;
     font-size: 1.5rem;
     display: block;
     padding: 12px 16px;
}

.header__search-history-list {
     list-style: none;
     padding: 0;
     margin: 0;
}

.header__search-history-item {
}

.header__search-history-item:hover{
    background-color: rgb(245, 245, 245);

}

.header__search-history-item a{
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
}



.header__cart {
    text-align: center;
    width: 150px;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer
}

.header__cart-icon {
    cursor: pointer;
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 2px;
}

.header__cart-notice{
    position: absolute;
    top : -8px;
    right: -4px;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding: 1px 6px;
    border-radius: 20px;
    border: 2px solid #EE4D2D;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list{
    display: none; 
    cursor: default;
    position: absolute;
    background-color: var(--white-color);
    right: -3px;
    width: 400px;
    border-radius: 2px;
    top : calc(100% + 12px);
    box-shadow:0 1px 3.125rem 0 rgba(0,0,0,0.2);
    transform-origin: calc(100% - 18px) top;
    animation: headerMotifyGrowth ease-in 0.2s;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    cursor: pointer;
    right: 9px;
    top :-20px;
    border-width:10px 14px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;

}

.header__cart-list::before{
    content: "";
    position: absolute;
    cursor: pointer;
    right: 35px;
    top :-25px;
    width: 60px;
    height: 25px;

}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list--no-cart{
    padding: 60px 0;
}

.header__cart-no-cart-img{
    width: 25%;
    display:  none;
}

.header__cart-no-cart-msg{
    display: none;
    font-size: 1.6rem;
    margin-top: 20px;
    color: var(--text-color);
}

.header__cart-list-item {
    display: block;
    padding-left: 0;
    list-style: none;
    max-height: 45vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.header__cart-list-item::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}



.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 0.5px solid rgb(223, 223, 223);
}

.header__cart-heading {
    text-align: left;
    margin: 12px 0 0 12px;
    font-size: 1.45rem;
    color: #999;
    font-weight: 400;

}

.header__cart-item-info {
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header__cart-item-name {
    max-width: 184px;
    font-size: 1.45rem;
    font-weight: 400;
    color:  var(--text-color);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

}

.header__cart-item-price-wrap {

}

.header__cart-item-price {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-mutiplay {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-viewcart{
    float:right;
    margin: 0 12px 12px 0;
}

.header__cart-viewcart:hover{
    opacity: 0.9;
}


/* APP CONTAINER */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.7rem ;
    padding: 12px 16px;
    color: var(--text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
}

.category__heading-icon {
    font-size: 1.5rem;
    margin-right: 4px;
    position: relative;
    top :0px;
}

.category-list {
    padding-left: 0;
    padding-bottom: 8px;
}

.category-item {
    list-style: none;
    margin-left: 12px;
}

.category-item--active a {
    color: var(--primary-color);
}

.category-item--active a::before {
    content: "";
    position: absolute;
    top :50%;
    left: 4px;
    border:4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(-50%);
}

.category-item__link {
    position: relative;
    right:0;
    display: block;
    padding: 8px 8px 8px 16px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right:-4px;
    color: var(--primary-color);
}

/*  Home sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 100px;
}



.home-filter__page {
    display: flex;
    align-items: center;
    margin-left:auto ;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius:2px ;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex :1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.2rem;
    color: #555
}


/* Product item */

.home-product {
    margin-bottom: 12px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 12px;
    background-color: var(--white-color);
    border-radius:2px ;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.home-product-item:hover {
    position: relative;
    top: -2px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}


.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius:2px ;
    border-top-right-radius:2px ;
}

.home-product-item__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 0 0 8px 0;
    padding: 10px 10px 0 10px;    
    height: 4.4rem;
    overflow: hidden;
    word-wrap: break-word;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.home-product-item__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #666;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 8px 10px;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    color: #d5d5d5;
    font-size: 0.8rem;
    margin-left: auto;
    margin-top: -0.2px;
}

.home-product-item__rating-icon--gold {
    color: #FFCE3E;
}

.home-product-item__sold {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 6px;
}


.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 10px 10px;
    font-size: 1.2rem;
    color: #595959;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-right:4px;
    border-bottom-right-radius:3px ;
    border-top-right-radius:3px ;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64,0.9);
    border-top-right-radius:2px ;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width:0 20px 4px ;
    border-style: solid;
    border-color:transparent rgba(255, 216, 64,0.9) transparent rgba(255, 216, 64,0.9);
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    top: 2px;
}       

.home-product-item__sale-off-label {
    font-size: 1.25rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: 2px;
}

.home-product__pagination {
    margin-top:48px ;
    margin-bottom: 32px;
}

/* FOOTER */

.footer {
    border-top: 4px solid var(--primary-color) ;
    padding-top: 16px;
    background-color: #fbfbfb;
}

.footer__header {
    margin-bottom: 20px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item {

}

.footer-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0,0,0,.54);
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.7rem;
    margin-right: 8px;
    color: #4a4a4a;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer__download-apps-img {
    height: 20px;
}
.footer__bottom-img__link,
.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 42px 0;
}

.footer__bottom-list {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px;
}

.footer__bottom-item {
    padding: 0 25px;
    border-left: 1px solid var(--border-color);
}

.footer__bottom-item:first-child {
    border-left: none;
}

.footer__bottom-item-link {
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footer__bottom-list-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__bottom-img {
    padding: 0 16px;
}

.footer__text {
    margin: 0;
    padding: 4px 0;
    text-align: center;
    font-size: 1.3rem;
    color: rgba(0,0,0,.54);
}